.wrapper {
	display: flex;
	justify-content: space-between;
}
// .gallery {
// 	display: flex;
// }
// .photo-card {
// 	width: 33.333%;
// 	height: auto;
// }
.stats {
	display: flex;
	// justify-content: space-between;
}
